@import url(reset.css);
body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

.gallery {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30%;
}

.item {
  width: 200px;
  height: 150px;
  margin: 5px;
}

.item a img {
  width: 100%;
  height: 100%;
  transition: 0.3s ease-in-out;
  z-index: 0;
}

.item a img:hover {
  transform: scale(110%);
  z-index: 2;
}

#lightboxun,
#lightboxdeux,
#lightboxtrois,
#lightboxquatre,
#lightboxcinq {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #292929;
    width: 0;
    height: 0;
}


#lightboxun img,
#lightboxdeux img,
#lightboxtrois img,
#lightboxquatre img,
#lightboxcinq img {
    width: 0;
    height: 0;
    transition: .2s ease-in-out;
}

#lightboxun:target,
#lightboxdeux:target,
#lightboxtrois:target,
#lightboxquatre:target,
#lightboxcinq:target {
    width: 100%;
    height: 100%;
}

#lightboxun:target img,
#lightboxdeux:target img,
#lightboxtrois:target img,
#lightboxquatre:target img,
#lightboxcinq:target img{
    width: 90%;
    height: 90%;
}

.close {
    position: absolute;
    top: 70px;
    right: 100px;
    width: 75px;
    height: 75px;
}

.close img {
    filter: invert(3);

}
